.control {
  color: black;
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 40px;
  
  &-text {
    cursor: pointer;

    &:hover {
      color: #3C3A3A;
    }
  }

  &-icon {
    cursor: pointer;
    margin-right: 30px;
  }
}

.column {
  border-right: 2px solid black;
}

.button {
  margin-bottom: 30px;
  font-family: 'Special Elite', cursive;
  color: black;
}

.board {

}
