.form {
  width: 600px;
  height: 330px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  padding: 20px;
  background: #ffd018;
  color: black;
  font-family: 'Special Elite', cursive;
  border-radius: 5px;
  z-index: 11;
}

.input {
  background: #F1F19A;

  &-row {
    margin-bottom: 20px;
  }
}

.button {
  margin-left: 20px;
  color: black;
}
